.search-item {
  position: fixed;
  top: 70px;
  margin-bottom: 100px;
  width: fit-content;
}
.home-container {
  margin-top: 170px;
  padding-top: 100px;
}

.profile-items {
  display: grid;
  grid-template-columns: repeat(5, 250px);
  gap: 16px;
}

.profile-items .MuiCard-root {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.profile-items .MuiCard-root:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
